/.idea/.gitignore
/build/AgenticFileOrganizer/base_library.zip
/build/AgenticFileOrganizer/EXE-00.toc
/build/AgenticFileOrganizer/Analysis-00.toc
/build/AgenticFileOrganizer/AgenticFileOrganizer.pkg
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/build/AgenticFileOrganizer/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PyCharmMiscProject.iml
/build/AgenticFileOrganizer/PYZ-00.pyz
/build/AgenticFileOrganizer/PYZ-00.toc
/.idea/vcs.xml
/build/AgenticFileOrganizer/warn-AgenticFileOrganizer.txt
/build/AgenticFileOrganizer/xref-AgenticFileOrganizer.html
/AgenticFileOrganizer.spec
__pycache__/
*.pyc
